#main{
 
}
.header{
  background-color: #F4D03F;

 display: flex;
 justify-content: space-around;
 padding-left: 90px;
 padding-top: 90px;

}

.header>img{
  float: right;
  height: 250px;

}
.name{
  display: flex;
  flex-direction: column;
}
span{
  font-size: x-large;

}
.intro{
  padding-left: 60px;
}
h2{
  font-size: x-large;
  color: aqua;
} 
.about{
  width: 45%;

}
#hobbies{
  display: flex;
}
.hobbies{
  width: 45%;


}